<div th:fragment="modal">
    <script src="https://cdn.jsdelivr.net/npm/moment@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="modal.css">
    <script th:src="@{/js/modal.js}"></script>
    <div class="modal fade" id="myStockModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content rubik">
                <div class="modal-body">
                    <button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="modal-content-left">
                        <div class="modal-graph">
                            <canvas id="graph"></canvas>
                            <div class="date-picker-content">
                                <button class="date-picker-button" onclick="fetchRender(30, '1d')">1m</button>
                                <button class="date-picker-button" onclick="fetchRender(90, '1d')">3m</button>
                                <button class="date-picker-button" onclick="fetchRender(365, '5d')">1y</button>
                                <button class="date-picker-button" onclick="fetchRender(365*3, '1mo')">3y</button>
                                <button class="date-picker-button" onclick="fetchRender(365*5, '1mo')">5y</button>
                            </div>
                        </div>
                        <div class="modal-peaks">
                            <div>
                                <div class="top-left">
                                    <p class="modal-peak-title">Day's High ($)</p>
                                    <p class="modal-peak-value">N/A</p>
                                </div>
                                <div class="top-left">
                                    <p class="modal-peak-title">Month's High ($)</p>
                                    <p class="modal-peak-value">N/A</p>
                                </div>
                                <div class="top-right">
                                    <p class="modal-peak-title">Year High ($)</p>
                                    <p class="modal-peak-value">N/A</p>
                                </div>
                            </div>
                            <div>
                                <div class="bottom-left">
                                    <p class="modal-peak-title">Day's Low ($)</p>
                                    <p class="modal-peak-value">N/A</p>
                                </div>
                                <div class="bottom-left">
                                    <p class="modal-peak-title">Month's Low ($)</p>
                                    <p class="modal-peak-value">N/A</p>
                                </div>
                                <div class="bottom-right">
                                    <p class="modal-peak-title">Year Low ($)</p>
                                    <p class="modal-peak-value">N/A</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-content-right">
                        <div>
                            <div class="modal-title">
                                <div>
                                    <div class="symbol">
                                        <p id="stockTitle">N/A</p>
                                    </div>
                                    <div class="company">
                                        <p id="stockSymbol">N/A</p>
                                    </div>
                                </div>

                                <div class="current-prices">
                                    <p id="stockPrice">N/A</p>
                                    <p style="margin:0px 0px 0px 50px;" id="stockChangePercent">N/A</p>                           
                                </div>

                            </div>
                            <div class="modal-owned">
                                <div class="owned-stats">
                                    <div class="top-left">
                                        <div class="owned-stats-title">
                                            <p>Owned Quantity</p>
                                        </div>
                                        <div class="owned-stats-value">
                                            <p id="ownedQuantity">13</p>
                                        </div>
                                    </div>
                                    <div class="top-right">
                                        <div class="owned-stats-title">
                                            <p>Owned Value</p>
                                        </div>
                                        <div class="owned-stats-value">
                                            <p id="ownedValue">2925.91</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="owned-stats">
                                    <div class="bottom-left">
                                        <div class="owned-stats-title">
                                            <p>($) Change since purchase</p>
                                        </div>
                                        <div class="owned-stats-value">
                                            <p id="dollarChangeSincePurchase">+ 213.34</p>
                                        </div>
                                    </div>
                                    <div class="bottom-right">
                                        <div class="owned-stats-title">
                                            <p>(%) Change since purchase</p>
                                        </div>
                                        <div class="owned-stats-value">
                                            <p id="percentChangeSincePurchase">+ 7.86</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="order">
                                <form action="/transaction" id="transactionForm">
                                    <div class="order-options">
                                        <div>
                                            <label for="orderType">Order type</label>
                                            <select name="orderType" id="orderType">
                                                <option value="market">Market</option>
                                            </select>
                                        </div>
                                        <div>
                                            <label for="action">Action</label>
                                            <select name="action" id="action">
                                                <option value="buy">Buy</option>
                                                <option value="sell">Sell</option>
                                            </select>
                                        </div>
                                        <div>
                                            <label for="quantity">Quantity</label>
                                            <input value="0" type="number" min="0" name="quantity" id="quantity">
                                        </div>
                                    </div>
                                    <input type="hidden" id="myStockTicker" name="ticker" />
                                    <div class="place-order">
                                        <div>
                                           <p>Total Cost ($)</p>
                                           <p id="totalValue">0</p> 
                                        </div>
                                        <button id="placeButton" type="submit" form="transactionForm" value="Submit">Place order</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>