a {
    text-decoration: none;
}

.rubik {font-family: "Rubik"}
.display {display: block;}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
    margin: 0 auto;
    font-family: "Rubik";
    padding: 20px 50px;
}

#burger-icon {
    display: none;
}

header > .header-title {
    font-weight: 800;
    font-size: 30px;
    color: black;
}

header > nav > a {
    color: black;
    font-size: 18px;
    border-bottom: 2px solid transparent;
    padding: 6px;
}

header > nav > a:hover {border-bottom: 2px solid black;}

.dropdown .dropdown-item-mobile {
    display: none;
}

.logreg-form {
    max-width: 800px;
    margin: 11% auto;
    font-family: "Rubik";
    padding: 0px 50px;
}

@media screen and (max-width: 1250px) {
    #burger-icon {
        display:initial;
    }

    #profile-icon {
        display: none;
    }

    header > nav {
        display: none;
    }

    .dropdown .dropdown-item-mobile {
        display: initial;
    }
}

@media screen and (max-width: 700px) {
    .logreg-form {
        padding: 0px 30px;
    }
}