.content {
    display: flex;
    justify-content: center;
    max-width: 1250px;
    margin: 25px auto;
    padding: 25px 50px;
    height: calc(100% - 250px);
}

.content-left {
    width: 50%;
}

.content-right {
    width: 50%;
}

.content-right-scroll {
    overflow: auto;
    border-left:1px solid #5D5C5C;
}

.content-left-scroll {
    overflow: auto;
}

.my-stocks-item {
    background-color: #D8D8D8;
    border:2px solid #5D5C5C;
}

.my-stocks-item .my-stocks-item-name {
    font-weight: 500;
    font-size: 20px;
    color:#5D5C5C;
}

.my-stocks-item .my-stocks-item-value {
    font-size: 18px;
    font-weight: 600;
    color:#5D5C5C;
}

.my-stocks-item .my-stocks-item-pc {
    font-size: 14px;
    font-weight: 600;
}

.stock-positive .my-stocks-item-pc {
    color: #107F00;
}

.stock-negative .my-stocks-item-pc {
    color: #930000;
}

@media screen and (max-width: 756px) {
    .content {
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        margin: 0 auto;
        align-items: center;
        padding: 25px 100px;
    }

    .content-left {
        width: 100%;
    }
    
    .content-right {
        width: 100%;
    }
}

