<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stockmark - Portfolio</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <!-- Alpine JavaScript -->
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="portfolio.css">
</head>

<body th:x-data="${globals}">
    <div class="head-div">
        <header>
            <a class="header-title smaller-screen-header" href="#">Stockmark</a>
            <nav>
                <a class="active">Portfolio</a>
                <a href="trade">Trade</a>
                <a href="transactions">Transactions</a>
                <a href="privateGame">Games</a>
            </nav>

            <div class="dropdown text-end">
                <a href="#" class="d-block link-body-emphasis text-decoration-none" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <svg id="profile-icon" xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="#D8D8D8"
                        class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                        <path fill-rule="evenodd"
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                    </svg>
                    <svg id="burger-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#D8D8D8"
                        class="bi bi-menu-up" viewBox="0 0 16 16">
                        <path
                            d="M7.646 15.854a.5.5 0 0 0 .708 0L10.207 14H14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h3.793l1.853 1.854zM1 9V6h14v3H1zm14 1v2a1 1 0 0 1-1 1h-3.793a1 1 0 0 0-.707.293l-1.5 1.5-1.5-1.5A1 1 0 0 0 5.793 13H2a1 1 0 0 1-1-1v-2h14zm0-5H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v2zM2 11.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 0-1h-8a.5.5 0 0 0-.5.5zm0-4a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11a.5.5 0 0 0-.5.5zm0-4a.5.5 0 0 0 .5.5h6a.5.5 0 0 0 0-1h-6a.5.5 0 0 0-.5.5z" />
                    </svg>
                </a>
                <ul class="dropdown-menu text-small">
                    <li class="dropdown-item-mobile"><a class="dropdown-item" href="trade">Trade</a></li>
                    <li class="dropdown-item-mobile"><a class="dropdown-item" href="transactions">Transactions</a></li>
                    <li class="dropdown-item-mobile">
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#depositModal">Deposit</a></li>
                    <li><a class="dropdown-item" data-bs-toggle="modal"
                            data-bs-target="#leaderboardsModal">Leaderboards</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                </ul>
            </div>
        </header>
    </div>

    <!-- Separator -->
    <div class="separator"></div>

    <!-- MyStock Modal  -->
    <div class="modal fade" id="myStockModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" x-data="{ amount:0, worth: 0, have:0, option: 'sell'}"
            x-init="$watch('amount', value => worth=amount*($refs.myStockTotalWorth.valueAsNumber/$refs.myStockHaveAmount.valueAsNumber))">
            <div class="modal-content rubik" style="color: black;">
                <div class="modal-header">
                    <h5 class="modal-title" id="myStockTitle"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label class="form-label">Owned</label>
                    <div class="input-group mb-3">
                        <div class="form-floating">
                            <input type="number" class="form-control" id="myStockHaveAmount" x-ref="myStockHaveAmount"
                                disabled>
                            <label>Amount</label>
                        </div>
                        <div class="form-floating">
                            <input type="number" class="form-control" x-model="have" id="myStockTotalWorth"
                                x-ref="myStockTotalWorth" disabled>
                            <label>Total worth in $</label>
                        </div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="myStockPricePerUnit" disabled>
                        <label>Price per unit in $</label>
                    </div>

                    <form action="/quick" id="quickActionForm">
                        <label class="form-label">Action</label>
                        <select class="form-select mb-3" name="action" x-model="option">
                            <option selected value="sell">Sell</option>
                            <option value="buy">Buy</option>
                        </select>

                        <input type="hidden" id="myStockTicker" name="ticker" />

                        <div class="input-group mb-3">
                            <div class="form-floating">
                                <input type="number" class="form-control" name="amount" x-model="amount">
                                <label>Amount</label>
                            </div>
                            <div class="form-floating">
                                <input type="number" class="form-control" x-model="worth" disabled>
                                <label>Worth in $</label>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-dark" form="quickActionForm" value="Submit"
                        :class="(0 >= amount || (option == 'sell' && amount > $refs.myStockHaveAmount.valueAsNumber) || (option == 'buy' && worth > balance)) ? 'disabled' : ''">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Deposit Modal  -->
    <div class="modal fade" id="depositModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content rubik" style="color: black;">
                <div class="modal-header">
                    <h5 class="modal-title">Deposit</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/deposit" id="depositForm">
                        <div class="mb-3">
                            <label class="form-label">Deposit Amount</label>
                            <input type="number" class="form-control" name="amount">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-dark" form="depositForm" value="Submit">Deposit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- th:text="${transaction.ticker}" -->

    <!-- Leaderboards Modal  -->
    <div class="modal fade" id="leaderboardsModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content rubik" style="color: black;">
                <div class="modal-header">
                    <h5 class="modal-title">Leaderboards</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ol class="list-group list-group-numbered">
                        <li th:each="user: ${leaderboards}"
                            class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold" th:text="${user.name}"></div>
                            </div>
                            <span class="badge bg-dark rounded-pill" th:text="${user.pcChange} + '%'"></span>
                        </li>
                    </ol>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="content-left rubik">
            <div class="p-3"><span class="fs-4 fw-semibold">My Progress</span></div>
            <div class="content-left-split">
                <div class="content-left-split-item border">
                    <div class="p-3"><span class="fs-5">Overall</span></div>
                    <div class="input-group">
                        <div class="form-floating">
                            <input type="text" class="form-control br-0" th:value="${deposited}" disabled>
                            <label>Deposited till date</label>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="form-floating">
                            <input type="text" class="form-control br-0" th:value="${totalValue}" disabled>
                            <label>Total value</label>
                        </div>
                        <div class="form-floating">
                            <input type="text" class="form-control br-0"
                                th:classappend="${isTotalChangePositive} ? text-green : text-red"
                                th:value="${totalChange}" disabled>
                            <label>Change</label>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="form-floating">
                            <input type="text" class="form-control br-0" th:value="${mostProfitableName}" disabled>
                            <label>Most profitable</label>
                        </div>
                        <div class="form-floating">
                            <input type="text" class="form-control br-0"
                                th:classappend="${isMostProfitablePositive} ? text-green : text-red"
                                th:value="${mostProfitableChange}" disabled>
                            <label>Change</label>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="form-floating">
                            <input type="text" class="form-control br-0" th:value="${leastProfitableName}" disabled>
                            <label>Least profitable</label>
                        </div>
                        <div class="form-floating">
                            <input type="text" class="form-control br-0"
                                th:classappend="${isLeastProfitablePositive} ? text-green : text-red"
                                th:value="${leastProfitableChange}" disabled>
                            <label>Change</label>
                        </div>
                    </div>
                </div>
                <div class="content-left-split-item border">
                    <div class="p-3"><span class="fs-5">Today</span></div>
                    <div class="input-group">
                        <div class="form-floating">
                            <input type="text" class="form-control br-0" th:value="${currentBalance}" disabled>
                            <label>Current balance</label>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="form-floating">
                            <input type="text" class="form-control br-0"
                                th:classappend="${isValueChangeTodayPositive} ? text-green : text-red"
                                th:value="${valueChangeToday}" disabled>
                            <label>Value change</label>
                        </div>
                        <div class="form-floating">
                            <input type="text" class="form-control br-0 text-green"
                                th:classappend="${isValueChangeTodayPositive} ? text-green : text-red"
                                th:value="${valueChangeTodayPercent}" disabled>
                            <label>Percent change</label>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="form-floating">
                            <input type="text" class="form-control br-0" th:value="${mostProfitableTodayName}" disabled>
                            <label>Most profitable</label>
                        </div>
                        <div class="form-floating">
                            <input type="text" class="form-control br-0 text-green"
                                th:classappend="${isMostProfitableTodayPositive} ? text-green : text-red"
                                th:value="${mostProfitableTodayChange}" disabled>
                            <label>Change</label>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="form-floating">
                            <input type="text" class="form-control br-0" th:value="${leastProfitableTodayName}"
                                disabled>
                            <label>Least profitable</label>
                        </div>
                        <div class="form-floating">
                            <input type="text" class="form-control br-0 text-red"
                                th:classappend="${isLeastProfitableTodayPositive} ? text-green : text-red"
                                th:value="${leastProfitableTodayChange}" disabled>
                            <label>Change</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="p-3"><span class="fs-4 fw-semibold">My History</span></div>
            <span class="text-muted">graph will be here (hopefully)</span> -->
        </div>

        <div class="content-right rubik" x-data>
            <div class="p-3">
                <span class="fs-4 fw-semibold" x-text="'My Stocks (' + $refs.myStocksList.childElementCount + ')'">My
                    Stocks</span>
            </div>
            <div class="content-right-scroll border">
                <div class="list-group list-group-flush scrollarea" x-ref="myStocksList">
                    <a th:each="stock: ${assets}" th:x-data="${stock}"
                        :class="(dayPcChange > 0) ? 'stock-positive' : 'stock-negative'" @click="openQuickView($data);"
                        class="my-stocks-item list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <strong class="my-stocks-item-name" x-text="ticker"></strong>
                            <div class="d-flex flex-column align-items-end">
                                <small class="my-stocks-item-value" x-text="'$'+worth"></small>
                                <small class="my-stocks-item-pc" x-text="dayPcChange+'%'"></small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script>
        var myStockModal = new bootstrap.Modal(document.getElementById('myStockModal'));
        function openQuickView({ ticker, amount, buyPrice, currentPrice, dayPcChange, worth }) {
            document.getElementById('myStockTitle').innerText = ticker;
            document.getElementById('myStockHaveAmount').value = amount;
            document.getElementById('myStockTotalWorth').value = worth;
            document.getElementById('myStockTicker').value = ticker;
            document.getElementById('myStockPricePerUnit').value = worth / amount;
            myStockModal.show();
        }
    </script>
</body>

</html>